<main id="index-main">
        <div class="container middle">
            <div class="row">
                <a href="" class="col-sm-6 col-md-6 col-lg-3 green block">
                    <div class="inner-block">
                        <div class="title h2">
                            <span>
                                About
                            </span>
                            <div class="h6">
                                Personal information
                            </div>
                        </div>
                        <img src="assets/imgs/profile.svg" />
                    </div>
                </a>
                <a href="" class="col-sm-6 col-md-6 col-lg-3 green block">
                    <div class="inner-block">
                        <div class="title h2">
                            <span>
                                Education
                            </span>
                            <div class="h6">
                                Schools &amp; other classes
                            </div>
                        </div>
                        <img src="assets/imgs/edu.svg" />
                    </div>
                </a>
                <a href="" class="col-sm-6 col-md-6 col-lg-3 green block">
                    <div class="inner-block">
                        <div class="title h2">
                            <span>
                                Experience
                            </span>
                            <div class="h6">
                                Jobs &amp; certifications
                            </div>
                        </div>
                        <img src="assets/imgs/exp.svg" />
                    </div>
                </a>
                <a href="" class="col-sm-6 col-md-6 col-lg-3 green block">
                    <div class="inner-block">
                        <div class="title h2">
                            <span>
                                Projects
                            </span>
                            <div class="h6">
                                Works &amp; contributions
                            </div>
                        </div>
                        <img src="assets/imgs/works.svg" />
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer id="index-footer">
            <hr />
            <div class="container">
                <ul>
                    <li>
                        <a target="_blank" class="" href="//facebook.com/vPetrusevicius">
                            <img src="assets/imgs/fb.svg" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="//linkedin.com/in/vilmantas-petrusevi%C4%8Dius-221797102/">
                            <img src="assets/imgs/in.svg" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="mailto:vilmantas.petrusevicius@gmail.com">
                            <img src="assets/imgs/email.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </footer>