<div class="row">
  <div class="col-lg-4 col-md-12 text-center my-auto">
    <a href="https://eif.viko.lt/" target="_blank">
      <img class="edu-img" src="assets/img/kolegija.jpg" />
    </a>
  </div>

  <div class="col-md-12 col-lg-8 my-auto">
    <div class="title text-center edu-info">
      <h2>
        <b>“University of Applied Sciences”</b>
      </h2>
      <h4>
        <b>(B.A.Sc) Computer Software Engineering</b>
      </h4>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-lg-4 col-md-12 text-center my-auto">
    <a href="assets/docs/ci_cert.docx" target="_blank">
      <img class="edu-img" src="assets/img/CICD.png" />
    </a>

  </div>

  <div class="col-md-12 col-lg-8 my-auto">
    <div class="title text-center edu-info">
      <h2>
        <b>Course <br/>
            “Continuous Integration in Web Application”</b>
      </h2>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-lg-4 col-md-12 text-center my-auto">
    <a href="http://www.asmetonosgimnazija.lt/" target="_blank">
      <img class="edu-img" src="assets/img/gimnazija.jpg" />
    </a>
  </div>

  <div class="col-md-12 col-lg-8 my-auto">
    <div class="title text-center edu-info">
      <h2>
        <b>“Kauno Antano Smetonos Gymnazium”</b>
      </h2>
    </div>
  </div>
</div>
