<nav-bar>


</nav-bar>

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>

<footer>
        <hr />
        <div class="container">
            <ul>
                <li>
                    <a target="_blank" class="" href="//facebook.com/vPetrusevicius">
                        <img src="assets/img/fb.svg" />
                    </a>
                </li>
                <li>
                    <a target="_blank" href="//linkedin.com/in/vilmantas-petrusevičius-221797102/">
                        <img src="assets/img/in.svg" />
                    </a>
                </li>
                <li>
                    <a target="_blank" href="mailto:vilmantas.petrusevicius@gmail.com">
                        <img src="assets/img/email.svg" />
                    </a>
                </li>
            </ul>
        </div>
    </footer>