<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="title arrow-down">
      <b>Certifications</b>
    </h1>
  </div>
</div>

<hr/>
<div class="row">
  <div class="project-img-container col-md-6 col-lg-4 text-center">
    <div class="image-wrapper">
      <img class="mx-auto project-img" src="assets/img/MCSD.png" />
      <div class="image-link">
        <div>
          <a target="_blank" href="https://www.youracclaim.com/badges/5ebbb60f-a31f-41d9-9866-0410c4be4ea9/linked_in_profile" class="">
            Certificate
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-8 my-auto">
    <div class="project-info">
      <div>
        <div class="title text-center">
          <h2>
            <b>MCSD: App Builder</b>
          </h2>
        </div>
        <div class="title text-center">
          <h3>
            <b>
              Exams:
            </b>
          </h3>
        </div>
        <div>
          <div class="text-justified">
            <table class="profile-table table table-condensed my-auto ">
              <tr>
                <td>
                  70-486:
                </td>
                <td>
                  Microsoft Developing ASP.NET MVC Web Applications
                </td>
              </tr>
              <tr>
                <td>
                  70-483:
                </td>
                <td>
                  Microsoft Programming in C#
                </td>
              </tr>
              <tr>
                <td>
                  70-487:
                </td>
                <td>
                  Microsoft Developing Microsoft Azure and Web Services
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="title arrow-down">
      <b>Jobs</b>
    </h1>
  </div>
</div>

<hr/>

<div class="row">
  <div class="project-img-container col-md-6 col-lg-4 text-center">
    <div class="image-wrapper">
      <img class="mx-auto project-img" src="assets/img/danske_bank.png" />
      <div class="image-link">
        <div>
          <a target="_blank" href="https://danskebank.com/" class="">
            Danske Bank
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-8 my-auto">
    <div class="project-info">
      <div>
        <div class="title text-center">
          <h2>
            <b>“Danske Bank”</b>
          </h2>
        </div>
        <div class="title text-center">
          <h3>
            <b>Jr. Software Engineer</b>
          </h3>
        </div>
        <div>
          <span class="text-justified">
            For the most part I maintained existing projects while also taking part in developing new projects.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="project-img-container col-md-6 col-lg-4 text-center">
    <div class="image-wrapper">
      <img class="mx-auto project-img" src="assets/img/mediapark_main.png" />
      <div class="image-link">
        <div>
          <a target="_blank" href="https://www.mediapark.com/" class="">
            Mediapark
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-8 my-auto">
    <div class="project-info">
      <div>
        <div class="title text-center">
          <h2>
            <b>“Mediapark”</b>
          </h2>
        </div>
        <div class="title text-center">
          <h3>
            <b>Software Developer</b>
          </h3>
        </div>
        <div>
          <span class="text-justified">
            I maintained existing websites, developed and deployed new projects. Managed code using GIT, managed
            tasks using Trello. Tasks required both back-end and front-end knowledge.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<hr />
<div class="row">
  <div class="project-img-container col-md-6 col-lg-4 text-center">
    <div class="image-wrapper">
      <img class="mx-auto project-img" src="assets/img/tieto.png" />
      <div class="image-link">
        <div>
          <a target="_blank" href="https://www.tieto.com/" class="">
            Tieto Lietuva
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-8 my-auto">
    <div class="project-info">
      <div>
        <div class="title text-center">
          <h2>
            <b>“Tieto Lietuva”</b>
          </h2>
        </div>
        <div class="title text-center">
          <h3>
            <b>Software Developer</b>
          </h3>
        </div>
        <div>
          <span class="text-justified">
            Developing solutions based on new business requirements, testing said solutions and documenting code.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
