<div class="row">
    <div class="col-md-6 col-lg-4 text-center">
        <img class="mx-auto project-img" src="assets/img/zumis.png" />
    </div>
    <div class="col-md-6 col-lg-8 my-auto">
        <div class="project-info">
            <div>
                <div class="title text-center">
                    <h2>
                        <b>“ŽŪMIS”</b>
                    </h2>
                </div>
                <div>
                    <span class="text-justified">
                        The first project i've worked on during my time at “Tieto Lietuva”. An overall amazing experience that introduced me to how
                        things work in the IT industry.
                    </span>
                </div>
                <footer>
                    <span class="">
                        Technologies: &nbsp; Java, C#, Javascript, GroovyScript
                    </span>
                </footer>
            </div>
        </div>
    </div>
</div>