<div class="row">
    <div class="offset-lg-2 col-md-12 col-lg-3 text-center my-auto">
        <img class="profile-picture" src="assets/img/face.jpg" />
    </div>
    <div class="col-md-12 col-lg-5 my-auto">
        <table class="profile-table table table-condensed my-auto ">
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    Vilmantas Petrusevičius
                </td>
            </tr>
            <tr>
                <td>
                    Date of birth:
                </td>
                <td>
                    1995 April 18
                </td>
            </tr>
            <tr>
                <td>
                    City:
                </td>
                <td>
                    Vilnius, Lithuania
                </td>
            </tr>
            <tr>
                <td>
                    Education:
                </td>
                <td>
                    Higher education
                </td>
            </tr>
            <tr>
                <td>
                    Certifications:
                </td>
                <td>
                    <a target="_blank" href="https://www.youracclaim.com/badges/5ebbb60f-a31f-41d9-9866-0410c4be4ea9">MCSD</a>,
                    <a target="_blank" href="https://www.youracclaim.com/badges/ef2f6090-677c-44e6-92a4-b01ae0a2fe85">MCSA</a>
                </td>
            </tr>
            <tr>
                <td>
                    Employment status:
                </td>
                <td>
                    Employed, full time.
                </td>
            </tr>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="offset-lg-2 col-lg-8">
        Hi, I'm Vilmantas. A software developer currently employed by Danske Bank Lithuania and working in Vilnius.
    </div>
</div>