<div class="intro">
    <div class="">
        <div class="text-center">
            <h1>
                Vilmantas Petrusevičius
            </h1>
            <h1>
                <b>Software Developer</b>
                <br/>
                <b></b>
            </h1>
        </div>
    </div>

    <div class="">
        <div class="text-center">
            <div>
                <button routerLink="/index" class="" type="button" name="continue" id="continue" value="Continue" >
                    <span>Continue</span> <img src="assets/img/sketched-right-arrow.svg"/>
                </button>
            </div>
        </div>
    </div>
</div>